<div style="background:#EEE; width:100%; min-height:100%;">
  <table cellpadding="0" cellspacing="0" style="width:800px; margin:0 auto; background:#FFF;
  font-family:Arial, Helvetica, sans-serif; font-size:14px; line-height:20px;">
    <tr style="background:#212121; height:60px;">
      <td style="vertical-align:bottom; padding-left:20px;" width="140">
        <img src="https://neverblock.me/application/views/front/images/email/icon-logo-top.png" style="display:block; height:60px;" />
      </td>
      <td style="vertical-align:middle; text-align:right; padding-right:20px;">
        <a href="http://neverblock.me/" target="_blank"><img src="https://neverblock.me/application/views/front/images/email/icon-logo-word.png" style="height:16px;" /></a>
      </td>
    </tr>
    
    <tr>
      <td style="vertical-align:top; padding-left:20px;" width="140">
        <img src="https://neverblock.me/application/views/front/images/email/icon-logo-bottom.png" style="display:block;" />
      </td>
      <td>&nbsp;</td>
    </tr>
    
    <tr>
      <td colspan="2" style="padding:20px;">
        <p style="margin:0; padding-bottom:15px;">Thank You for Your Top Up</p> 
        <p style="margin:0; padding-bottom:15px;">You will receive an email shortly which will contain the details of this transaction.</p>
        <p style="margin:0; padding-bottom:15px;">Any items will be processed as soon as possible, any items that can be downloaded can be downloaded using the link in the email or on Neverblock.me website.</p> 
        <p style="margin:0; padding-bottom:15px;">Please refer to the documentation of the individual product for usage instructions.</p> 
		<p style="margin:0; padding-bottom:15px;">You ordered the following items:</p> 
      </td>
    </tr>
    
    <!-- purchase -->
    <tr>
      <td colspan="2" style="padding:0 20px 10px;">
       <table cellpadding="10" cellspacing="0" style="width:100%; border-bottom:1px solid #616161; font-size:14px;">
       
         <tr style="background:#D32E2E; color:#FFF;">
           <th style="text-align:left;">Name</th>
           <th style="text-align:left;">Price</th>
           <th style="text-align:left;">Point</th>
         </tr>
       
         <tr>
           <td>1 Tahun</td><!-- item -->
           <td>IDR 100.000</td><!-- rupiah -->
           <td>&nbsp;</td><!-- poin -->
         </tr>
         
         <tr>
           <td style="border-bottom:1px dashed #BDBDBD;">Reseller</td><!-- item -->
           <td style="border-bottom:1px dashed #BDBDBD;">IDR 400.000</td><!-- rupiah -->
           <td style="border-bottom:1px dashed #BDBDBD;">5 Point</td><!-- poin -->
         </tr>
         
         <tr>
           <td><b>Total Cost</b></td><!-- item -->
           <td><b>IDR 500.000</b></td><!-- rupiah -->
           <td>&nbsp;</td><!-- poin -->
         </tr>
         
       </table>      
      </td>
    </tr>
    <!-- end purchase -->
    
    <!-- username & pass -->
    <tr>
      <td colspan="2" style="padding:20px; border-bottom:1px dashed #BDBDBD;">
        <p style="margin:0;">If you face any issue with the product please feel free to leave comment on the product page or contact me through the contact page.</p>
        <p>Sincerely, <br />Neverblock.me</p>
      </td>
    </tr>
    <!-- end username & pass -->
    
    <tr>
      <td colspan="2" style="padding:20px; padding-bottom:0;">
        Download our app:
      </td>
    </tr>
    
    <tr>
      <td colspan="2" style="padding:20px; padding-top:5px;">
      
        <table cellpadding="0" cellpadding="0">
          <tr>
            
            <td style="padding-right:10px">
              <!-- android -->
              <a href="https://play.google.com/store/apps/details?id=de.blinkt.bluenexia" target="_blank" style="text-decoration:none; color:#424242;">
                <table cellpadding="0" cellpadding="0" style="border:1px solid #424242; padding:7px 10px;">
                  <tr>
                    <td style="vertical-align:middle; padding-right:5px;"><img src="https://neverblock.me/application/views/front/images/email/icon-androidlogo.png" / style="height:18px;"></td>
                    <td style="vertical-align:middle; font-weight:bold; font-size:14px;">Android</td>
                  </tr>
                </table>
              </a>
              <!-- end android -->
            </td>
            
            <td style="padding-right:10px">
              <!-- osx -->
              <a href="https://neverblock.me/application/views/front/file/neverblock-osx.pkg" target="_blank" style="text-decoration:none; color:#424242;">
                <table cellpadding="0" cellpadding="0" style="border:1px solid #424242; padding:7px 10px;">
                  <tr>
                    <td style="vertical-align:middle; padding-right:5px;"><img src="https://neverblock.me/application/views/front/images/email/icon-osxlogo.png" / style="height:18px;"></td>
                    <td style="vertical-align:middle; font-weight:bold; font-size:14px;">OS X</td>
                  </tr>
                </table>
              </a>
              <!-- end osx -->
            </td>
            
            <td style="padding-right:10px">
              <!-- windows -->
              <a href="https://neverblock.me/application/views/front/file/neverblock-windows.exe" target="_blank" style="text-decoration:none; color:#424242;">
                <table cellpadding="0" cellpadding="0" style="border:1px solid #424242; padding:7px 10px;">
                  <tr>
                    <td style="vertical-align:middle; padding-right:5px;"><img src="https://neverblock.me/application/views/front/images/email/icon-winlogo.png" / style="height:18px;"></td>
                    <td style="vertical-align:middle; font-weight:bold; font-size:14px;">Windows</td>
                  </tr>
                </table>
              </a>
              <!-- end windows -->
            </td>
            
          </tr>
        </table>
        
      </td>
    </tr>
    
    <tr style="background:#424242; color:#FFF;">
      <td style="padding:20px; vertical-align:middle; font-weight:bold; width:80%;">
        Neverblock | Browse the internet privately, anonymously and securely.
      </td>
      <td style="padding:10px 20px; text-align:right;">
        <a href="https://www.facebook.com/NeverBlockMe-1045913212142560/" target="_blank">
          <img src="https://neverblock.me/application/views/front/images/email/icon-box-facebook.png" style="height:24px;" />
        </a>
      </td>
    </tr>
    
    <tr>
      <td colspan="2" style="padding:10px 20px; color:#BDBDBD; background:#212121;">
        Neverblock &copy2017 - All Right Reserved
      </td>
    </tr>
  </table>
</div>